<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="css/materialize.min.css">
    <title>Tasks List</title>
</head>
<body>
<div class="container">
    <!-- Page Content goes here -->
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Add Task</span>
                    <div class="row">
                        <form class="col s12" id="add-task" method="post" action="/add-task">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" id="task" name="user_task">
                                    <label for="task">Add new task</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="submit" class="btn" value="Add task">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-action">
                    <p class="card-title" id="task-title">Tasks</p>
                    <ul class="collection" id="task-list">
                        <% tasksData.forEach((taskElement) => { %>
                            <li class="collection-item">
                                <%= taskElement.task %>
                                <a href="delete-task/<%= taskElement.id %>" class="secondary-content">X</a>
                            </li>
                        <% })%>
                    </ul>
                    <a href="#" id="delete-tasks" class="btn">Delete All</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Compiled and minified JavaScript -->
<script src="js/materialize.min.js"></script>
</body>
</html>